doctype html
html
  head
    meta(charset='utf-8')
    title Test
    link(rel='stylesheet', type='text/css', href='/css/index.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='/js/index.js')
    script(src='/js/validation.js')
  body
    if message
        h1.messageBar= message
    .status
      h3= text
        if isLogged
          span.user-name= credentials.email
      if isLogged
        h3
          a(href="/logout") wyloguj sie
      else
        h3
          a(href="/login") zaloguj sie
    .menu
        ul
            li.menu-item 
                a(href="/") Strona główna
            li.menu-item
                a(href="/users") Uzytkownicy
            li.menu-item 
                a(href="/register") Rejestracja
    form#container(method='POST' action=`/users/${credentials.student_id}`)
        span.input
            input.input__field#input-1(type='text' value=`${credentials.name}` name="name" required)
            label.input__label(for='input-1')
                span.input__label-content Imie
        span.input
            input.input__field#input-2(type='text' value=`${credentials.kierunek}` name="kierunek" required)
            label.input__label(for='input-2')
                span.input__label-content kierunek
        span.input
            input.input__field#input-3(type='tel' value=`${credentials.phone}` name="phone" required)
            label.input__label(for='input-3')
                span.input__label-content Telefon
        span.input
            input.input__field#input-4(type='email' value=`${credentials.email}` name="email" required)
            label.input__label(for='input-4')
                span.input__label-content email

        button#send-button(type="submit") zapisz!