doctype html
html
  head
    meta(charset='utf-8')
    title Test
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    link(rel='stylesheet', type='text/css', href='/css/index.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
  body
    if isLogged
      - var text = "Jesteś zalogowany jako "
    else 
      - var text = "Jesteś niezalogowany"
    if message
      h1.messageBar= message
    .status
      h3= text
        if isLogged
          span.user-name= credentials.email
      if isLogged
        h3
          a(href="/logout") wyloguj sie
      else
        h3
          a(href="/login") zaloguj sie
    .menu
      ul
        li.menu-item 
          a(href="/") Strona główna
        li.menu-item
          a(href="/users") Uzytkownicy
        li.menu-item 
          a(href="/register") Rejestracja
    .wrapper
      .inner
        if(!isLogged)
          h1 Musisz sie 
            a(href="/login") zalogować
          h1 To jest strona dla zarejestrowanych uzytkownikow      
          h2 jesli znajdziesz siebe tu - mozesz edytować profil     
        else
          h1 Cześć, #{credentials.name}! To jest strona dla uzytkownikow
          ul
            each student in students
              li
                .student= student.name
                  a(href="/users/" + student.student_id)
                    i.fas.fa-edit.elem
                  a(href="/users/" + student.student_id)
                    i.fas.fa-trash-alt.elem
         
          
      